---
import Layout from '@/layouts/Layout.astro';
import { Image } from 'astro:assets';

const posts = [
  {
    image: import('@/assets/blog/1.png'),
    title: 'How to choose the perfect roof for your home 1',
    description: 'Guide to choosing roofing materials, taking into account climate conditions, house style, and budget.',
    date: '26 March, 2025'
  },
  {
    image: import('@/assets/blog/1.png'),
    title: 'How to choose the perfect roof for your home 2',
    description: 'Guide to choosing roofing materials, taking into account climate conditions, house style, and budget.',
    date: '26 March, 2025'
  },
  {
    image: import('@/assets/blog/1.png'),
    title: 'How to choose the perfect roof for your home 3',
    description: 'Guide to choosing roofing materials, taking into account climate conditions, house style, and budget.',
    date: '26 March, 2025'
  },
  {
    image: import('@/assets/blog/1.png'),
    title: 'How to choose the perfect roof for your home 4',
    description: 'Guide to choosing roofing materials, taking into account climate conditions, house style, and budget.',
    date: '26 March, 2025'
  },
  {
    image: import('@/assets/blog/1.png'),
    title: 'How to choose the perfect roof for your home 5',
    description: 'Guide to choosing roofing materials, taking into account climate conditions, house style, and budget.',
    date: '26 March, 2025'
  },
  {
    image: import('@/assets/blog/1.png'),
    title: 'How to choose the perfect roof for your home 6',
    description: 'Guide to choosing roofing materials, taking into account climate conditions, house style, and budget.',
    date: '26 March, 2025'
  },
  {
    image: import('@/assets/blog/1.png'),
    title: 'How to choose the perfect roof for your home 7',
    description: 'Guide to choosing roofing materials, taking into account climate conditions, house style, and budget.',
    date: '26 March, 2025'
  },
  {
    image: import('@/assets/blog/1.png'),
    title: 'How to choose the perfect roof for your home 8',
    description: 'Guide to choosing roofing materials, taking into account climate conditions, house style, and budget.',
    date: '26 March, 2025'
  },
  {
    image: import('@/assets/blog/1.png'),
    title: 'How to choose the perfect roof for your home 9',
    description: 'Guide to choosing roofing materials, taking into account climate conditions, house style, and budget.',
    date: '26 March, 2025'
  },
  {
    image: import('@/assets/blog/1.png'),
    title: 'How to choose the perfect roof for your home 10',
    description: 'Guide to choosing roofing materials, taking into account climate conditions, house style, and budget.',
    date: '26 March, 2025'
  }
];
---

<Layout>
  <div class="container">
    <h1 class="page-title mb-7.5 lg:mb-15">Blog</h1>
    <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-x-5 gap-y-6.25 lg:gap-y-15">
      {
        posts.map((post, index) => (
          <>
            <div class={index === 0 || index === 6 ? 'lg:col-span-2' : 'col-span-1'}>
              <Image src={post.image} alt="post" class="mb-3.75 w-full min-h-[260px] rounded-xl object-cover" />
              <div>
                <h2 class="text-lg/none lg:text-xl mb-3.75 lg:mb-5">{post.title}</h2>
                <p class="text-secondary mb-5">{post.description}</p>
                <span>{post.date}</span>
              </div>
            </div>
            {[0, 2, 4, 8].includes(index) && <div class="hidden lg:block w-[355px]" />}
          </>
        ))
      }
    </div>
  </div>
</Layout>
