---
import Layout from '@/layouts/Layout.astro';
import FacebookIcon from '@/icons/facebook.svg';
import InstagramIcon from '@/icons/instagram-dark.svg';
import LinkedinIcon from '@/icons/linkedin.svg';
import YouTubeIcon from '@/icons/youtube-dark.svg';
import RiversideMap from '@/components/RiversideMap';

const { socials } = await import('@/data/site_settings.json');

const socialLinks = [
  { name: 'Facebook', icon: FacebookIcon, href: socials.facebook },
  { name: 'Instagram', icon: InstagramIcon, href: socials.instagram },
  { name: 'Linkedin', icon: LinkedinIcon, href: socials.linkedin },
  { name: 'YouTube', icon: YouTubeIcon, href: socials.youtube }
];
---

<Layout>
  <div class="container">
    <h1 class="page-title mb-12.5 lg:mb-15">Contact</h1>
    <div class="grid md:grid-cols-2 lg:grid-cols-[1fr_270px_200px] gap-10 md:gap-15 lg:gap-25 mb-10">
      <div class="flex flex-col justify-between">
        <div class="flex items-center gap-2.5 mb-5">
          <span class="shrink-0 size-2.5 rounded-full bg-primary"></span>
          <span class="uppercase font-semibold">Phone</span>
        </div>
        <a href="tel:+13182229999" class="font-heading text-4xl lg:text-5xl hover:text-primary/80 transition-colors">+1 (318) 222-9999</a>
      </div>
      <div class="flex flex-col justify-between gap-5">
        <div>
          <div class="flex items-center gap-2.5 mb-5">
            <span class="shrink-0 size-2.5 rounded-full bg-primary"></span>
            <span class="uppercase font-semibold">Email</span>
          </div>
          <a href="mailto:info@riversideroofingmaterials.com">info@riversideroofingmaterials.com</a>
        </div>
        <div class="flex gap-2.5 mt-auto">
          {
            socialLinks.map(
              (link) =>
                link.href && (
                  <a href={link.href} target="_blank" class="w-11.25 h-11.25 text-primary grid place-items-center border border-primary rounded-full hover:-translate-y-1 transition-transform">
                    <link.icon class="text-primary" />
                  </a>
                )
            )
          }
        </div>
      </div>
      <div class="flex flex-col justify-between">
        <div class="flex items-center gap-2.5 mb-5">
          <span class="shrink-0 size-2.5 rounded-full bg-primary"></span>
          <span class="uppercase font-semibold">Office</span>
        </div>
        <div class="space-y-7.5">
          <div>
            <p class="mb-2">975 Louisiana Avenue</p>
            <p>Shreveport, LA, 71101</p>
          </div>
          <div class="mb-5">
            <p class="font-semibold mb-2">MONDAY - FRIDAY</p>
            <p>7:00 am - 4:00 pm</p>
          </div>
          <div>
            <p class="font-semibold mb-2">SATURDAY AND SUNDAY</p>
            <p>Closed</p>
          </div>
        </div>
      </div>
    </div>

    <div class="overflow-hidden rounded-xl h-[300px] lg:h-[600px]">
      <RiversideMap client:load />
    </div>
  </div>
</Layout>
