---
import Layout from '@/layouts/Layout.astro';
import AccordionData from '@/components/Accordion';
const data = await import('@/data/faq.json');
---

<Layout>
  <div class="container">
    <h1 class="page-title mb-7.5 lg:mb-15">Frequently asked questions</h1>
    <AccordionData data={data.questions} client:load />
  </div>
</Layout>
