---
import { YouTube } from 'astro-embed';
import AboutPoster from '@/assets/about/main.png';
---

<section id="about" class="pb-20 md:pb-25 lg:pb-40">
  <div class="container">
    <p class="section-pretitle">ABOUT RIVERSIDE</p>
    <h2 class="section-title">Your Reliable Roofing Materials Supplier in Shreveport, Bossier City, Longview</h2>
    <div class="pb-7.5 lg:hidden">
      <blockquote class="mb-4 pb-7 border-b border-secondary text-primary text-lg/none lg:text-xl">
        “Anyone who steps through Riverside’s front door will be greeted with the utmost respect.”
      </blockquote>
      <p class="text-secondary">Founder of Riverside Roofing Materials</p>
    </div>
    <div class="flex flex-col md:flex-row gap-5">
      <div class="flex-[0_0_357px] lg:flex-[0_0_550px] xl:flex-[0_0_730px] h-75 lg:h-auto shrink-0 rounded-xl overflow-hidden">
        <YouTube id="CyvdrYz1myM" poster={AboutPoster.src} />
      </div>
      <div class="max-w-[570px] flex flex-col justify-between gap-6">
        <div class="hidden lg:block">
          <blockquote class="mb-4 pb-7 border-b border-secondary text-primary text-lg/none lg:text-xl">
            “Anyone who steps through Riverside’s front door will be greeted with the utmost respect.”
          </blockquote>
          <p>Founder of Riverside Roofing Materials</p>
        </div>
        <div class="mt-auto text-primary">
          <p class="mb-3">
            Established in 1994, Riverside stands as Shreveport, Louisiana’s top local distributor of roofing materials. We’re built on hard work, delivering top-notch American-made products and
            honest service to protect your homes and businesses.
          </p>
          <p class="mb-7.5">
            At Riverside, you’re welcomed like family by our dedicated team – no nonsense, just real care. Rooted in the strength of local business, we’ve stood by our community with integrity for
            over 25 years.
          </p>
          <a href="#" class="uppercase underline-hover font-semibold">Learn more</a>
        </div>
      </div>
    </div>
  </div>
</section>
