---
import AccordionData from '@/components/Accordion';
---

<section id="faq" class="py-20">
  <div class="container">
    <span class="section-pretitle block uppercase mb-5">Reviews</span>
    <h2 class="section-title">questions WITH ANSWERS</h2>
    <AccordionData client:visible />
  </div>
</section>
