---
import { Image } from "astro:assets";
const products = [
  {
    image: import("@/assets/products/1.png"),
    title: "Residential Products",
    description:
      "A wide range of roofing materials, perfectly suited for private homes and cottages.",
    link: "/products/1",
  },
  {
    image: import("@/assets/products/2.png"),
    title: "Commercial Roofing ",
    description:
      "Professional solutions for commercial and industrial properties.",
    link: "/products/2",
  },
  {
    image: import("@/assets/products/3.png"),
    title: "Accesories",
    description:
      "Complementary items that enhance safety, convenience, and efficiency during roof installation and maintenance.",
    link: "/products/3",
  },
];
---

<section id="products" class='pb-20 md:pb-25 lg:pb-40'>
  <div class="container">
    <h2 class="section-title">Our Products</h2>
    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-5">
      {
        products.map((product, index) => (
          <div class="flex flex-col items-center h-75 lg:h-120 w-full relative overflow-hidden rounded-xl" class:list={index === 2 ? 'md:col-span-2 lg:col-span-1' : ''}>
            <Image
              src={product.image}
              alt={product.title}
              format='avif'
              quality={100}
              class="absolute top-0 left-0 size-full object-cover object-top -z-1 brightness-75"
            />
            <div class="mt-auto px-4.5 pb-9 text-white">
              <h3 class="font-bold font-heading text-4xl lg:text-5xl mb-2.5 text-center">{product.title}</h3>
              <p class="text-center max-w-[350px] mx-auto lg:min-h-12">{product.description}</p>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
