---
import StarsIcons from '@/icons/stars.svg';
import ReviewsVideo from '@/partials/ReviewsVideo';
const video_reviews = await import('@/data/video_reviews.json');
---

<section class="py-20 md:py-25 lg:py-40 overflow-hidden" id="reviews">
  <div class="container">
    <span class="section-pretitle block uppercase mb-5">Reviews</span>
    <div class="flex flex-col lg:flex-row flex-wrap gap-5 lg:items-center justify-between mb-7.5">
      <h2 class="section-title mb-0">Join ThousandS OF Satisfied Owners</h2>
      <div class="flex flex-col xl:items-end">
        <StarsIcons class="w-[190px] lg:w-full mb-1" />
        <p class="uppercase font-semibold text-secondary">4.9 AVERAGE RATING</p>
      </div>
    </div>

    <div class="flex flex-col lg:flex-row gap-5 items-stretch">
      <div class="flex flex-col justify-between items-start max-w-[540px] lg:max-w-[356px] shrink-0">
        <p class="text-primary">Whether you're a business owner or homeowner, we aim to connect, inform, and deliver exceptional materials while being the best partner for all your roofing needs.</p>
        <a href="#" class="uppercase font-semibold text-primary hidden lg:inline-block underline-hover">All Reviews</a>
      </div>
      <div class="reviews-container relative embla overflow-x-visible">
        <div class="reviews-wrapper flex gap-2.5 md:gap-3.5 lg:gap-5">
          <ReviewsVideo video_reviews={video_reviews} client:visible />
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  import { gsap } from 'gsap';
  import { ScrollTrigger } from 'gsap/ScrollTrigger';
  import EmblaCarousel from 'embla-carousel';
  import Autoplay from 'embla-carousel-autoplay';

  gsap.registerPlugin(ScrollTrigger);

  // Initialize GSAP for desktop
  if (window.innerWidth >= 1024) {
    const reviews = gsap.utils.toArray('.reviews-slide');
    const scrollTween = gsap.to(reviews, {
      xPercent: -100 * (reviews.length - 1),
      ease: 'none',
      scrollTrigger: {
        trigger: '#reviews',
        endTrigger: '#touchroom',
        pin: true,
        scrub: 1,
        start: '50% 50%',
        end: '+=3000'
      }
    });
  } else {
    const emblaNode = document.querySelector('.embla') as HTMLElement;
    if (emblaNode) {
      const emblaOptions = { loop: false, align: 'start' as const };
      const autoplayOptions = { delay: 3000 };
      const embla = EmblaCarousel(emblaNode, emblaOptions, [Autoplay(autoplayOptions)]);
    }
  }
</script>

<style is:global>
  .reviews-container {
    clip-path: inset(-100vw -100vw -100vw 0);
  }
</style>
