---
import { Font } from 'astro:assets';
import '@/styles/global.css';
import Header from '@/components/app/Header.astro';
import Footer from '@/components/app/Footer.astro';
import Toast from '@/components/Toast.tsx';
import { seo } from '@/data/site_settings.json';
---

<!doctype html>
<html lang="en" class="scroll-smooth antialiased">
  <head>
    <Font cssVariable="--font-sans" preload />
    <Font cssVariable="--font-heading" preload />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{seo.title}</title>
    <meta name="description" content={seo.description} />
  </head>
  <body class="font-sans min-h-full bg-body text-primary">
    <div id="smooth-wrapper">
      <Header isHome={Astro.props.isHome} />
      <main class="overflow-x-clip pb-20 md:pb-25 lg:pb-40" class:list={[Astro.props.isHome ? 'home' : 'pt-31 md:pt-42.5']} id="smooth-content">
        <slot />
      </main>
      <Toast client:idle />
      <Footer />
    </div>
  </body>
</html>

<!-- <script>
  import gsap from 'gsap';
  import { ScrollTrigger } from 'gsap/ScrollTrigger';

  gsap.registerPlugin(ScrollTrigger);

  window.addEventListener('DOMContentLoaded', () => {
    const allSections = gsap.utils.toArray('.home section') as HTMLElement[];
    const sections = allSections.slice(1);

    sections.forEach((section) => {
      gsap.set(section, { y: 30, opacity: 0 });

      const headings = section.querySelectorAll('h2');

      if (headings.length > 0) {
        gsap.set(headings, {
          y: 80,
          opacity: 0
        });
      }

      ScrollTrigger.create({
        trigger: section,
        start: 'top bottom-=100',
        end: () => `+=${section.clientHeight - 30}`,
        onEnter: () => {
          section.classList.add('in-view');
          gsap.to(section, { y: 0, opacity: 1, duration: 1 });

          if (headings.length > 0) {
            gsap.to(headings, {
              y: 0,
              opacity: 1,
              duration: 0.7,
              ease: 'power2.out',
              delay: 0.2
            });
          }
        }
      });
    });
  });
</script> -->
