---
import "@/styles/global.css";
import { Font } from "astro:assets";
import Header from "@/components/app/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <Font cssVariable="--font-inter" preload />
    <Font cssVariable="--font-heading" preload />
  </head>
  <body class="font-sans text-primary min-h-full overflow-x-clip">
    <Header />
    <slot />
  </body>
</html>
