---
import { Font } from 'astro:assets';
import '@/styles/global.css';
import { SmoothCursor } from '@/components/ui/smooth-cursor';
import Header from '@/components/app/Header.astro';
import Footer from '@/components/app/Footer.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <Font cssVariable="--font-sans" preload />
    <Font cssVariable="--font-heading" preload />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body class="font-sans min-h-full bg-body text-primary">
    
    <div id="smooth-wrapper">
      <Header />
      <main class="overflow-x-hidden" id="smooth-content">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>

<script>
  import gsap from 'gsap';
  import { ScrollTrigger } from 'gsap/ScrollTrigger';

  gsap.registerPlugin(ScrollTrigger);

  window.addEventListener('DOMContentLoaded', () => {
    const allSections = gsap.utils.toArray('section') as HTMLElement[];
    const sections = allSections.slice(1);

    sections.forEach((section) => {
      gsap.set(section, { y: 30, opacity: 0 });

      const headings = section.querySelectorAll('h2');

      if (headings.length > 0) {
        gsap.set(headings, {
          y: 80,
          opacity: 0
        });
      }

      ScrollTrigger.create({
        trigger: section,
        start: 'top bottom-=100',
        end: () => `+=${section.clientHeight - 30}`,
        onEnter: () => {
          section.classList.add('in-view');
          gsap.to(section, { y: 0, opacity: 1, duration: 1 });

          if (headings.length > 0) {
            gsap.to(headings, {
              y: 0,
              opacity: 1,
              duration: 0.7,
              ease: 'power2.out',
              delay: 0.2
            });
          }
        }
      });
    });
  });
</script>
