---
const { label, placeholder, id } = Astro.props;
---

<div class="relative">
  <input
    class="peer py-3.5 px-0 block w-full bg-transparent border-t-transparent border-b-2 border-x-transparent border-b-white sm:text-sm placeholder:text-transparent outline-none focus:border-t-transparent focus:border-x-transparent focus:ring-0 disabled:opacity-50 disabled:pointer-events-none
          focus:pt-6
          focus:pb-2
          not-placeholder-shown:pt-6
          not-placeholder-shown:pb-2
          autofill:pt-6
          autofill:pb-2"
    placeholder={placeholder}
    id={id}
  />
  <label
    for={id}
    class="absolute top-0 start-0 py-3.5 px-0 h-full truncate pointer-events-none transition ease-in-out duration-100 border border-transparent origin-[0_0] dark:text-white peer-disabled:opacity-50 peer-disabled:pointer-events-none
            peer-focus:scale-90
            peer-focus:-translate-y-5
            peer-not-placeholder-shown:scale-90
            peer-not-placeholder-shown:-translate-y-5"
  >
    {label}
  </label>
</div>
